html, body {
  height: 100%;
  width: 100%;
}

#wrapper > * {
  position: absolute;
}

canvas1 {
  border: 1px solid #6f4444;
  top: 0px; 
  left: 0px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

input {  
  top: 300px;
  left: 60px; 
}
